@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100&family=Poppins:wght@500&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

font-family: 'Roboto', sans-serif;



font-family: 'Rubik', sans-serif;


body{
    background-color: teal;
}


/* PANTALLAS EXTRA PEQUEÑAS (celulares, hasta 600 px, o sea que tienen un ancho mayor a 600px*/

@media only screen and (max-width:600px){
    body{
        background-color: tomato;
        text-align: center;
    }

    img{
        width: 100px;
        height: 600px;
        border-radius: 12px;
    }
}



/*PANTALLAS PEQUEÑAS (Tablets, en modo PORTrait (vertical), y celulares grandes, o sea que tienen un ancho mayor a 600 px*/
@media only screen and (min-width:600px){
    body{
        background-color: violet;
    }
    img{
        width: 200px;
        height: 400px;
    }

}



/*Pantallas de tamaño MEDIO (Tablets en modo Landscape (horizontal) o sea que tienen un ancho mayor o igual a 768px)*/


@media only screen and (min-width:768px){
    body{
        background-color: yellow;
    }
    img{
        display: none;
    }

}


/*Pantallas grandes (Laptops/computadoras de escritorio, o sea que tienen un ancho mayor o igual 992px)*/

@media only screen and (min-width:992px){
    body{
        background-color: peru;
    }
    img{
        border-radius: 12px;
        width: 300px;
        border-radius: 50%;
        display: block;
    }

}


/*Pantallas Muy Grandes (Ej.: Laptops gamer, monitores xtra grandes, o sea que tienen un ancho mayor o igual a 1200px)*/

@media only screen and (min-width:1200px){
    body{
        background-color: blue;
    }

    img{
        filter: opacity(0.5);
    }


    #texto1{
        font-family: 'Roboto', sans-serif;

    }

}