@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


body{
    text-align: center;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    padding: 0%;

}


header{
    background-color: rgb(214, 214, 214);
    text-align: center;
}

img{
    filter: grayscale(1);
}

footer{

}